:root {
  --maincolor: dodgerblue;
  --bordercl: dodgerblue;
  --callouctcolor: dodgerblue;
  --hovercolor: navy;
  --darkMaincolor: var(--maincolor);
}

html,
p {
  font-family: 'Roboto Mono', monospace;
}
